Source: xva-tool
Section: utils
Priority: optional
Maintainer: Alexander Maassen <outsider@cuci.nl>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0

Package: xva-tool
Architecture: all
Depends: python2.7 | python3, ${misc:Depends}
Description: Enterprise XVA Zero-Copy Streaming Architecture Utility
 High-performance cross-platform hypervisor migration and forensic data recovery tool.
